.header {
  background: url("../../../../assets/backgrounds/violet-bg.png") no-repeat top center;
  background-size: cover;
  .header-body {
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .page-logo {
      height: 100%;
      width: auto;
      position: relative;
      left: -20px;
    }
  }
}
