<section class='login'>
  <div class="login-body">


    <div *ngIf="!mobileView" class="left-side">
      <img src="../../../../assets/page-logo/myPostsWhiteTItle.png" alt="" class="page-logo">
      <div class="greeting">
        <h1 class='login-title'>Hello,</h1>
        <p class='login-description'>welcome!</p>
      </div>
    </div>
    <div class="right-side wrapper">
      <img *ngIf="mobileView" src="../../../../assets/page-logo/myPostsBlueTitle.png" alt=""
        class="page-logo-right-side page-logo">

      <h3 class='login-block-title'>Login</h3>
      <form class='login-form' [formGroup]="loginForm" (ngSubmit)="submit()">

        <!-- Email Input -->
        <mat-form-field (click)="hideEmailError()" class="example-full-width">
          <mat-label>Email</mat-label>
          <input formControlName='email' [errorStateMatcher]="matcher" matInput>

          <!-- Errors -->
          <mat-error *ngIf="loginForm.get('email')!.hasError('email')">
            Please enter a valid email address
          </mat-error>

          <mat-error *ngIf="loginForm.get('email')!.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>

          <small *ngIf="invalidEmail" class='error'>Invalid email address</small>

        </mat-form-field>


        <!-- Password Input -->
        <mat-form-field (click)='hidePasswordError()' class="example-full-width">
          <mat-label>Password</mat-label>
          <input formControlName='password' [errorStateMatcher]="matcher" matInput>

          <!-- Errors -->
          <mat-error
            *ngIf="loginForm.get('password')!.hasError('minlength') && !loginForm.get('password')!.hasError('required')">
            Password must be at least <strong>8</strong> characters long, you entered <strong>
              {{loginForm.get('password')!.errors!['minlength']['actualLength']}}
            </strong> characters
          </mat-error>

          <mat-error *ngIf="loginForm.get('password')!.hasError('required')">
            Password is required
          </mat-error>

          <small *ngIf="invalidPassword" class='error'>Invalid password</small>


        </mat-form-field>


        <button style='width: 100%; margin-top: 30px;' type='submit' [disabled]="loginForm.invalid" mat-flat-button
          color="warn">
          LOGIN
        </button>

      </form>
    </div>
  </div>
</section>